@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wdth,wght@0,5..1200,87.5..112.5,300..900;1,5..1200,87.5..112.5,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100 vh;
    background-color: #EAE0D5;
}


html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #0A0908;
    font-size: 1rem;
    font-weight: 475;
}

a:hover {
    color:#534537;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

a, .btn {
    transition: all 300ms ease;
}

.logo {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 105;
    font-size: 1.5rem;
}

.logo:hover {
    cursor: default;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar-container {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container .logo a {
    font-size: 1.5 rem;
    font-weight: bold;
}

.navbar-container .links {
    display: flex;
    gap: 2rem;
}

.navbar-container .burger-menu {
    font-size: 1.5 rem;
    cursor: pointer;
    display: none;
}

/* BURGER MENU ICON */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    border-radius: 20px;
    background-color: black;
    margin: 6px 0;
    transition: 0.3s ease-in-out;
}

.open .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.open .bar2 {opacity: 0;}

.open .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* DROP DOWN MENU  */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(000, 000, 000, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown-menu.open {
    height: 170px;
}


/* SECTIONS */
.section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* SECTION PROFILE */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 500;
}

.section__text__p1 {
    font-size: 1.3rem;
    text-align: center;
}

.section__text__p2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.title {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings:"wdth" 115;
    font-size: 3rem;
    text-align: center;
    padding: 0.6rem;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */
.icon {
    cursor: pointer;
    height: 3rem;
    width: auto;
}

/* BUTTONS */

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-v1 {
    border:  #22333B 0.1rem solid;
    background: #22333B;
    color: white;
}

.btn-v1:hover {
    cursor: pointer;
    color:  #22333B;;
    background: none;
}

.action-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* ABOUT SECTION */
#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 300px;
    height: auto;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.details-containers {
    padding: 1.5rem;
    flex: 1;
    background: #EAE0D5;
    border-radius: 2rem;
    border: #534537 0.1rem solid;
    border-color: #534537;
    text-align: center;
}

.about-pic {
    border-radius: 2rem;
    height: auto;
    width: 250px;
}

.section-container {
    gap: 4rem;
    height: 80%;
}
.section__pic-container {
    height: 400px;
    width: 400px;
    margin-left: 150px;
    left: 2rem;
}

/* RESPONSIVE DESIGN */
@media(max-width: 750px){
    
    .navbar-container .links {
        display: none;
    }

    .navbar-container .burger-menu {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown-menu {
        left: 2rem;
        width: unset;    
    }
}