@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wdth,wght@0,5..1200,87.5..112.5,300..900;1,5..1200,87.5..112.5,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EAE0D5;
}


html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #0A0908;
    font-size: 1rem;
    font-weight: 475;
}

a:hover {
    color:#534537;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

a, .btn {
    transition: all 300ms ease;
}

.logo {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 105;
    font-size: 1.5rem;
}

.logo:hover {
    cursor: default;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar-container {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container .logo a {
    font-size: 1.5 rem;
    font-weight: bold;
}

.navbar-container .links {
    display: flex;
    gap: 2rem;
}

.navbar-container .burger-menu {
    font-size: 1.5 rem;
    cursor: pointer;
    display: none;
}

/* BURGER MENU ICON */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    border-radius: 20px;
    background-color: black;
    margin: 6px 0;
    transition: 0.3s ease-in-out;
}

.open .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.open .bar2 {opacity: 0;}

.open .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

/* DROP DOWN MENU  */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(000, 000, 000, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown-menu.open {
    height: 170px;
}


/* SECTIONS */
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* SECTION PROFILE */
#home {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    margin-bottom: 3em;
}

.section__text {
    align-self: center;
    text-align: center;
    justify-content: center;
    height:max-content;
}

.section__text p {
    font-weight: 500;
}

.section__text__p1 {
    font-size: 1.3rem;
    text-align: center;
}

.section__text__p2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.title {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-variation-settings:"wdth" 115;
    font-size: 3rem;
    text-align: center;
    padding: 0.6rem;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */
.icon {
    cursor: pointer;
    height: 3rem;
    width: auto;
}

/* BUTTONS */

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-v1 {
    border:  #22333B 0.1rem solid;
    background: #22333B;
    color: white;
}

.btn-v1:hover {
    cursor: pointer;
    color:  #22333B;;
    background: none;
}

.action-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* ABOUT SECTION */
#aboutme {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
}

.about-container {
    display: flex;
    gap: 35px;
    justify-content: space-between;
    margin-top: 2em;
}

.education {
    display: flex;
    width: 100%;
    border: #afa093 0.1rem solid;
    box-shadow: 0 2px 15px 0px #6d5d4c;
    border-radius: 1.5rem;
    padding: 1em;
}

.uni-pic img {
    width: 150px;
    height: auto;
}

.uni-info {
    text-align: left;
    margin-left: 1em;
}

.uni-text {
    margin-top: 1em;
    margin-left: 0.25em;
}

.uni-text h4 {
    font-weight: 650;
    margin-top: 0.5em;
}

.interests {
    display: flex;
    width: 100%;
    border: #afa093 0.1rem solid;
    box-shadow: 0 2px 15px 0px #6d5d4c;
    border-radius: 1.5rem;
    padding: 1em;
}

.interests-info {
    margin-left: 1em;
}

.interests-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    height: auto;
    gap: 15px;
    margin-top: 1em;
}

.interest-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 500;
    gap: 0.5rem;
}

.text-container {
    display: flex;
    width: auto;
    margin-top: 2rem;
    padding: 1em;
    border: #afa093 0.1rem solid;
}

.text {
    font-size: 14pt;
    font-weight: 500;
}
.about-details-container {
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.details-containers {
    padding: 1.5rem;
    flex: 1;
    background: #FFFFF0;
    border-radius: 2rem;
    border: #534537 0.1rem solid;
    border-color: #afa093;
    text-align: center;
    box-shadow: 0 2px 15px 0px #6d5d4c;
}

.about-pic {
    border-radius: 2rem;
    height: auto;
    width: 250px;
}

.section-container {
    gap: 1rem;
    height: 80%;
}
.section__pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* PROFICIENCY SECTION */
#proficiency {
    position: relative;
}

.skills-containers {
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
    margin-top: 2rem;
    gap: 30px;
    height:auto;
    width: auto;
}

.skills-info {
    border: #afa093 0.1rem solid;
    box-shadow: 0 2px 15px 0px #6d5d4c;
    padding: 0.5rem;
    border-radius: 1.5rem;
    width: 400px;
    text-align: center;
}

.skills__categories {
    color:#534537;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0.25rem;
    text-align: center;
}

.progress-bars {
    list-style-type: none;
    padding: 0.5em;
    width: auto;
    margin: 1em;
}

.progress-bars li {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    width: 85%;
    height: 0.5em;
    background: #afa093;
    border-radius: 10px;
    margin: 1.3em 0;
}

.progress {
    background: linear-gradient(
        90deg,
        #283c45,
        #22333B
    );
    height: 100%;
    border-radius: inherit;
    position: relative;
    box-shadow: 0 0 3px #22333B;
}

.progress::before {
    content: '';
    position: absolute;
    right: 0;
    top: 48%;
    transform: translateY(-50%);
    width: 1em;
    height: 100%;
    background: #fff;
    border-radius: inherit;
    box-shadow: 0 0 20px #fff;
    fill: blur(10px);
}

.percentage {
    position: relative;
    font-weight: 500;
    margin-left: 1rem;
}

/* ANIMATION SKILL BARS*/
@media (prefers-reduced-motion: no-preference) {
    .progress-animation {  
        animation: fillBars 2.5s 1;
    }

    @keyframes fillBars{
        from{
            width: 0;
        }
        to {
            width: 100%;
        }
    }
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

article {
    display: flex;
    width: 11rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}


/* CERTIFICATES SECTION */
#certificates {
    position: relative;
    margin-top: 2rem;
    justify-content: center;
}

.cert-container {
    display: flex;
    justify-content: center;
}

.cert-acq {
    display: flex;
    flex-direction: column;
    border: #afa093 0.1rem solid;
    box-shadow: 0 2px 15px 0px #6d5d4c;
    border-radius: 1.5rem;
    padding: 1.5rem;
    width: 525px;
    gap: 1rem;
    margin: 0 13em;
    justify-content: center;
    align-items: center;
}

.cert-name {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cert-content {
    display: flex;
    justify-content: baseline;
    align-content: start;
    justify-content: space-between;
}

.certs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.certs li {
    list-style-type: disc;
    text-align:start;
    font-weight: 500;
    margin: 1em;
    align-items: center;
}

.status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    gap: 0.3em;
}


/* PROJECTS SECTION */
#projects {
    position: relative;
    margin-top: 5em;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    padding: 1rem;
    margin: 1.75rem;
    border-radius: 2rem;
    border: #534537 0.1rem solid;
    border-color: #afa093;
    background: #FFFFF0;
    box-shadow: 0 2px 15px 0px #6d5d4c;
}

.project-img {
    position: relative;
    border-radius: 2rem;
    width: 75%;
    height: auto;
}

.project-title {
    margin: 1rem;
    color: #0A0908;
}

.project-btn {
    border-color: #22333B;
    justify-self: end;
}

.project_slide-container { /* card__content */
    /*display:flex;
    flex-direction: row;
    width: 85vw;
    gap: 1.5rem;
    margin: 0 30px;
    padding: 40px 0;
    overflow: hidden;*/
    width: 1110px;
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    padding: -3rem;
    overflow: hidden;
    justify-content: center;
}

/* Swiper class */
.swiper { /* container */
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 450px;
    padding: 1rem;
    box-shadow: 0 2px 15px 0px #6d5d4c; /* delete when done*/
    border-radius: 2rem 0 2rem 0;
}

.swiper-container { /* card__container swiper */
    padding-block: 1rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: "";
}

.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: #534537;
    /*display: none;*/
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: #6d5d4c;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #534537;
}

/* GOALS SECTION */
#goals {
    position: relative;
}

.goals-container {
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
}

.goals-tech {
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    box-shadow: 0 2px 15px 0px #6d5d4c;
    border-radius: 2rem;
}

.tech-item {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    align-items: center;
    text-align: center;
    font-weight: 500;
    margin: 1em;
}

.devicon-react-original,
.devicon-nodejs-plain-wordmark,
.devicon-express-original,
.devicon-csharp-plain,
.devicon-typescript-plain,
.devicon-docker-plain {
    font-size: 3em;
    color: #22333B;
}

.goals-cert {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 1em;
    box-shadow: 0 2px 15px 0px #6d5d4c;
    border-radius: 2rem;
}

.cert-list {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 2em;
    margin-top: 1em;
    text-align: left;
}

.cert-list li{
    font-weight: 600;
    list-style-type: disc;
}

.cert-list li ul li{
    font-weight: 500;
    list-style-type: none;
    margin-top: 0.5em;
}

.goals-projects {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1em;    
    box-shadow: 0 2px 15px 0px #6d5d4c;
    border-radius: 2rem;
}

.proj-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 3em;
    padding: 1em;
}

.uni-proj,
.solo-proj {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    gap: 1em;
}

.uni-icon,
.solo-icon {
    display: flex;
    font-weight: 600;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.uni-proj li, 
.solo-proj li {
    list-style-type: disc;
    font-weight: 500;
    text-align: left;
}

/* FOOTER SECTION */
footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 1400px) {
    #home {
        height: 83vh;
    }
    .about-containers {
        flex-wrap: wrap;
    }

    #projects {
        height: fit-content;
    }

    .swiper-button-prev {
        left: -1rem;
    }
    .swiper-button-next {
        right: -1rem;
    }
}


@media(max-width: 750px){
    
    .navbar-container .links {
        display: none;
    }

    .navbar-container .burger-menu {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }

    #experience,
    .experience-details-container {
    margin-top: 2rem;
    }

    #home,
    .section-container {
        display: flex;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }

    .progress-bars {
        width: 80%;
    }

    .skills-containers {
        flex-wrap: wrap;
        width: fit-content;
    }
}

@media(max-width: 576px){

    .dropdown-menu {
        left: 2rem;
        width: unset;    
    }
}

@media screen and (max-width: 600px) {

    footer {
        height: 40vh;
    }

    #home {
        height: 83vh;
        margin-bottom: 0;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__text__p2 {
        font-size: 1.25rem;   
    }
    
    .title {
        font-size: 2rem;
    }
    
    .text-container {
        text-align: justify;
    }

    .swiper {
        width: 400px;
    }

    .project_slide-container {
        width: 380px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}